.git
.next
node_modules
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yml
.env
.env.*
README.md
coverage
*.tsbuildinfo
.idea
.vscode
tests
__tests__
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
